src/data-coco/*
src/data-yolo/*
src/data_axondeepseg_sem/*
src/runs

src/retinaNet/wandb/*
src/retinaNet/output
src/retinaNet/constants/__pycache__
src/retinaNet/__pycache__
src/retinaNet/src/

detectron2/*
venv/*
